@import "tailwindcss";


/* HTML: <div class="loader"></div> */
.loader {
  height: 6px;
  width: 200px;
  border-radius: 30px;
  --c: no-repeat linear-gradient(#239a1d 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 50% 100%;
  animation: l16 3s infinite ease-in-out;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  50% {
    background-position: 250% 0, 250% 0;
  }
  100% {
    background-position: -150% 0, -150% 0;
  }
}


